.blue-text {
  color: blue;
  font-family: 'Burbank Big Condensed Black'
}

.blue-text:hover {
  color: Black;
  font-family: 'Burbank Big Condensed Black'
}


.first-section{
  color: ;
  font-family: monospace;
  border-color: Black;
  border-width: 9px;
  border-style: Dotted ;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 24pt;
  font-family: "Calibri", sans-serif;
}
